{% extends 'main.html' %}
			<!-- Main -->
{% load static %}

{% block content %}
			<nav id="nav">
				<ul>
					<li><a href="{% url 'home' %}" class="active"><span class="icon fa-home"></span></a></li>
					<li><a href="{% url 'gallery' %}"><span class="icon fa-camera-retro"></span></a></li>
					<!--<li><a href="{% url 'generic' %}"><span class="icon fa-file-text-o"></span></a></li>-->
				</ul>
			</nav>
			<!-- Main -->
				<section id="main">
					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1 class="flower_font">Welcome to Ara's atelier</h1>
								<p>Only home made vegan cake for you</a></p>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">Find out</a></li>
								</ul>
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<h2>Our cakes</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="{% static 'images/fc/fc1.jpg' %}"><img src="{% static 'images/fc/fc1.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc2.jpg' %}"><img src="{% static 'images/fc/fc2.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc3.jpg' %}"><img src="{% static 'images/fc/fc3.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc4.jpg' %}"><img src="{% static 'images/fc/fc4.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc5.jpg' %}"><img src="{% static 'images/fc/fc5.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc6.jpg' %}"><img src="{% static 'images/fc/fc6.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc7.jpg' %}"><img src="{% static 'images/fc/fc7.jpg' %}" alt="" title="Details." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fc/fc8.jpg '%}"><img src="{% static 'images/fc/fc8.jpg' %}" alt="" title="Details." /></a>
										</div>
									</div>
									<footer>
										<a href="{% url 'gallery' %}" class="button big">Full Gallery</a>
									</footer>
								</div>
						</section>

					<!-- Contact -->
					{% include 'contact.html' %}

					<!-- Footer -->
						<footer id="footer">
							<div class="copyright">
								Author @yech90
							</div>
						</footer>
				</section>
		{% endblock content %}}